<div class="botoes">
    <button type="button" class="main-button prev-button">
        Anterior
    </button>
    <button type="button" class="main-button next-button">
        Próximo
    </button>
</div>