<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{{_sections.title}}} | Endereçamento de Memória</title>
        <link rel="icon" href="/assets/images/favicon.svg">
        <link rel="stylesheet" href="/assets/styles/style.min.css"/>
    </head>
    <body>
      <header>
        <ul>
          <li><a href="/">Início</a></li>
          <li><a href="/imediato">Imediato</a></li>
          <li><a href="/direto">Direto</a></li>
          <li><a href="/indireto">Indireto</a></li>
          <li><a href="/registrador">Registrador</a></li>
          <li><a href="/indireto-registrador">Indireto de registrador</a></li>
          <li><a href="/deslocamento">Deslocamento</a></li>
          <li><a href="/pilha">Pilha</a></li>
        </ul>
      </header>