<section class="page"> 
    <div class="container">

        <div id="stage-{{{_sections.slug}}}" class="etapa etapa-{{{_sections.slug}}} step-0">

            <div class="simulacao">
                {{{_sections.simulation}}}
            </div>

            <div class="texto">
                {{{_sections.text}}}
            </div>

            {{> buttons}}

        </div>

    </div>
</section>