{{> header}}
<section class="page"> 
    <div class="container">
        <div class="etapa {{{_sections.slug}}} step-1">
            <div class="simulacao">
                {{{_sections.simulacao}}}
            </div>

            <div class="texto">
                <p>{{{_sections.texto}}}</p>
            </div>

            <div class="botoes">
                <button type="button" class="main-button prev-button hidden">
                    Anterior
                </button>
                <button type="button" class="main-button next-button">
                    Próximo
                </button>
            </div>
        </div>
    </div>
</section>
{{> footer}}