html {
  font-size: 16px;
  background-color: $white;
  
  @media screen and (max-width: $xxl) {
  	font-size: 14px;
  }
  
  @media screen and (min-width: $qhd) {
  	font-size: 18px;
  }
  
  * {
    font-family: 'Urbanist', sans-serif;
    box-sizing: border-box;
  }  

  header {
    background-color: $black;
    width: 100%;
    display: flex;
    padding: 2rem;

    ul {
      list-style-type: none;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @media screen and (max-width: $lg) {
        flex-direction: column;
        margin: unset;
      }
      
      li {   
        
        a {
          border-radius: 0.2rem;
          display: block;
          color: white;
          text-align: center;
          padding: 1rem 1.5rem;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1rem;
          position: relative;

          @media screen and (max-width: $lg) {
            text-align: left;
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0.8rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: $white;
            height: 1px;
            width: 0;
            transition: .2s ease-in-out;
          }

          &:hover, &:active, &:focus {

            &:after {
              width: calc(100% - 3rem);
            }
          }

        }         
      }
    }
  }

  .page {
    display: flex;

    .container {
      width: 100%;
      max-width: 68.75rem;
      margin: auto;
      padding: 5rem 2rem;
      min-height: calc(100vh - 5rem);
    }
  }
}

.hidden {
  display: none;
}

.etapa {
  display: flex;
  flex-direction: column;

  .botoes{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
  }

  .main-button {
    background: $light-red;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    border: none;
    color: $white;
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,.3);
    transition: .2s ease-in-out;
    
    &:hover, &:active {
      border-top-color: $light-red;
      background: $light-red;
      cursor: pointer;
      //box-shadow: unset;
      transform: translateY(-.2rem);
    }
  }

  .texto{
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .simulacao {
    width: 100%;
    height: 32rem;
    border: 1px solid $black;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 1rem;

    @media screen and (max-width: $lg) {
      zoom: .7;
    }

    @media screen and (max-width: $md) {
      zoom: .5;
    }

    @media screen and (max-width: $sm) {
      zoom: .3;
    }
    
    .memoria {
      position: relative;
      width: 17rem;
      height: 22rem;
      background-color: $gray;
    }

    .texto-memoria {
      color: $gray;
      margin-top: -1.5rem;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      text-align: center;
    }

    .texto-registrador {
      color: $green;
      margin-top: -1.5rem;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      text-align: center;
    }

    .texto-instrucao {
      margin-top: 0.55rem;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      text-align: center;
    }

    .texto-instrucao1 {
      margin-top: 0.55rem;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      text-align: center;
      margin-left: 1rem;
    }

    .instrucao {
      width: 100%;
      height: 2rem;
      background-color: $light-red;
      transition: 1s ease-in-out;
    }

    .instrucao1 {
      width: 20%;
      height: 2rem;
      background-color: $light-red;
      transition: 1s ease-in-out;
    }

    .registradores{
      width: 100%;
      height: 10rem;
      background-color: $green;
    }

    .registrador{
      position: relative;
      width: 17rem;
      height: 22rem;
      background-color: $green;
    }

    .pilha {
      position: relative;
      width: 17rem;
      height: 16rem;
      background: repeating-linear-gradient(180deg, $black 0rem, $black 2rem, $light-red 0, $light-red 4rem);

      .instrucao {
        width: 100%;
        height: 2rem;
        background-color: $light-red;
        transition: 1s ease-in-out;
      }

      .instrucao2 {
        width: 100%;
        height: 2rem;
        background-color: $gray;
        transition: 1s ease-in-out;
      }
    }
  }
}