html {
  font-size: 16px;
  background-color: $light-gray;
  
  @media screen and (max-width: $xxl) {
  	font-size: 14px;
  }
  
  @media screen and (min-width: $qhd) {
  	font-size: 18px;
  }
  
  * {
    font-family: 'Urbanist', sans-serif;
    box-sizing: border-box;
  }  

  header {
    background-color: $black;
    width: 100%;
    height: 5rem;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    
    
      li {
      float: left;
    
    
        a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
        } 
        a:hover {
      background-color: $red;
          }
        
      }
    }
  }

  .page {
    display: flex;

    .container {
      width: 100%;
      max-width: 68.75rem;
      margin: auto;
      padding: 5rem 2rem;
      min-height: calc(100vh - 5rem);

      .etapa {
        display: flex;
        flex-direction: column;

        .simulacao {
          width: 100%;
          height: 32rem;
          border: 1px solid $black;
          display: flex;
          position: relative;

          .memoria {
            position: relative;
            width: 17rem;
            height: 22rem;
            background-color: $black;

            .instrucao {
              width: 100%;
              height: 2rem;
              background-color: $red;
              transition: 1s ease-in-out;
            }
            .registradores{
              width: 100%;
              height: 10rem;
              background-color: $green;
            }
          }

          .registrador{
            position: relative;
            width: 17rem;
            height: 22rem;
            background-color: $green;

            .instrucao {
              width: 100%;
              height: 2rem;
              background-color: $red;
              transition: 1s ease-in-out;
            }
          }

          .pilha {
            position: relative;
            width: 17rem;
            height: 16rem;
            background: repeating-linear-gradient(0deg, #000, #000 25px, $red 0px, $red 50px);

            .instrucao {
              width: 100%;
              height: 2rem;
              background-color: $red;
              transition: 1s ease-in-out;
            }
          }
        }
      }
    }
  }
}