$se: '360px';
$sm: '575px';
$md: '767px';
$lg: '992px';
$xl: '1137px';
$xxl: '1400px';
$qhd: '2048px';

$white: #FFFFFF;
$green: #618645;
$light-gray: #ebebeb;
$black: #000000;
$red: #ff0000;
$light-red: #cc253b;
$gray: #878787;