{{#section 'title'}}Início{{/section}}

<section class="page home"> 
    <div class="container">
        <img
            class="image"
            src="/assets/images/devs.jpeg"
            width="1600"
            height="900"
            alt=""/>
    </div>
</section>