{{#section 'title'}}Início{{/section}}

<section class="page home"> 
    <div class="container">
        <img
            class="image"
            src="/assets/images/devs.jpeg"
            width="1280"
            height="889"
            alt=""/>
    </div>
</section>