<section class="page"> 
    <div class="container">

        <div class="etapa etapa-deslocamento step-1">

            <div class="simulacao">
                <div class="memoria">
                    <div class="instrucao">
                        <p class="texto-instrucao"></p>
                    </div>
                    <div class="instrucao1">
                        <p class="texto-instrucao1"></p>
                    </div>
                    <div class="registradores">

                    </div>
                </div>
            </div>

            <div class="texto">
                <p>
                   Semelhante ao endereçamento indireto. O campo
de endereço se refere a um registrador que possui
o endereço do operando.
                </p>
            </div>

            {{> botoes}}

        </div>
    <script src="/assets/scripts/js/steps/deslocamento.js"></script>
    </div>
</section>