<section class="page"> 
    <div class="container">

        <div class="etapa etapa-direto step-1">

            <div class="simulacao">
                <div class="memoria">
                    <div class="instrucao">
                        <p class="texto-instrucao">INSTRUÇÃO</p>
                    </div>
                    <h1 class="texto-memoria">Memória</h1>
                </div>
            </div>

            <div class="texto">
                <p>
                   O endereço do operando é determinado pela própria instrução (endereço de 8 bits).
Neste caso, apenas a RAM interna e os registradores especiais podem ser acessados. Não é comum em arquiteturas atuais, ele transfere um byte ou uma palavra entre
uma posição de memória.
                </p>
            </div>

            {{> botoes}}

        </div>
    <script src="/assets/scripts/js/steps/direto.js"></script>
    </div>
</section>