<section class="page"> 
    <div class="container">

        <div class="etapa etapa-direto step-1">

            <div class="simulacao">
                <div class="memoria">
                    <div class="instrucao">

                    </div>
                </div>
            </div>

            <div class="texto">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur temporibus doloribus 
                    dolorum nam, aspernatur, cum pariatur earum neque nostrum mollitia repellendus consectetur 
                    ut, tempora deleniti praesentium libero? Nam, perferendis repellendus.
                </p>
            </div>

            {{> botoes}}

        </div>

    </div>
</section>