{{#section 'title'}}Direto{{/section}}

{{#section 'slug'}}etapa-direto{{/section}}

{{#section 'simulacao'}}
    <div class="memoria">
        <h1 class="texto-memoria">Memória</h1>
        <div class="instrucao">
            <p class="texto-instrucao">Instrução</p>
        </div>
    </div>
{{/section}}

{{#section 'texto'}}
    O endereço do operando é determinado pela própria instrução (endereço de 8 bits). Neste caso, apenas a RAM 
    interna e os registradores especiais podem ser acessados. Não é comum em arquiteturas atuais, ele transfere 
    um byte ou uma palavra entre uma posição de memória.
{{/section}}

{{#section 'scripts'}}
    <script src="/assets/scripts/direto.js"></script>
{{/section}}