{{#section 'slug'}}etapa-imediato{{/section}}

{{#section 'simulacao'}}
    <div class="instrucao">
        <p class="texto-instrucao">Instrução</p>
    </div>
{{/section}}

{{#section 'texto'}}
    Forma mais simples, transfere um byte ou uma palavra de dado imediato. Como o operando é constante, 
    ele é usado para definir constantes ou valores iniciais de variáveis.
{{/section}}

{{#section 'scripts'}}
    <script src="/assets/scripts/js/steps/imediato.js"></script>
{{/section}}