<section class="page"> 
    <div class="container">

        <div class="etapa etapa-direto step-1">

            <div class="simulacao">
                <div class="memoria">
                    <div class="instrucao">
                        <p class="texto-instrucao"></p>
                    </div>
                </div>
            </div>

            <div class="texto">
                <p>
                    O campo de endereço se refere ao endereço de
uma palavra na memória, que contém o endereço
do operando.
                </p>
            </div>

            {{> botoes}}

        </div>
    <script src="/assets/scripts/js/steps/indireto.js"></script>
    </div>
</section>