{{#section 'title'}}Indireto{{/section}}

{{#section 'slug'}}etapa-direto{{/section}}

{{#section 'simulacao'}}
    <div class="memoria">
        <div class="memoria">
            <div class="instrucao">
                <p class="texto-instrucao">Instrução</p>
            </div>
            <h1 class="texto-memoria">Memória</h1>
        </div>
    </div>
{{/section}}

{{#section 'texto'}}
    O campo operando  tem um endereço para a memória principal que aponta para outro endereço onde está o valor. 
    Sua vantagem é que a partir de um campo de endereço com número de bits restritos pode-se acessar a um espaço 
    de endereçamento maior e há a possibilidade da implementação de ponteiros e sua desvantagem é o número de 
    acessos para resgatar o valor.
{{/section}}

{{#section 'scripts'}}
    <script src="/assets/scripts/js/steps/indireto.js"></script>
{{/section}}