<section class="page"> 
    <div class="container">

        <div class="etapa etapa-pilha step-1">

            <div class="simulacao">
                <div class="pilha">
                    <div class="instrucao">
                        <p class="texto-instrucao"></p>
                    </div>
                </div>
            </div>

            <div class="texto">
                <p>
                    As instruções da máquina não precisam incluir uma
referência de memória e sim operar no topo da pilha.
                </p>
            </div>

            {{> botoes}}

        </div>
    <script src="/assets/scripts/js/steps/pilha.js"></script>
    </div>
</section>