{{#section 'title'}}Pilha{{/section}}

{{#section 'slug'}}etapa-pilha{{/section}}

{{#section 'simulacao'}}
    <div class="pilha">
        <div class="instrucao">
            <p class="texto-instrucao">Instrução</p>
        </div>
        <h1 class="texto-memoria">Memória</h1>
        <div class="instrucao2">
            
        </div>
    </div>
{{/section}}

{{#section 'texto'}}
    Consistem em itens de dados armazenados em ordem consecutiva na memória, onde o primeiro item é denominado fundo da pilha. 
    adores utilizam a pilha para efetuar as operações, onde os operandos utilizados são sempre retirados do topo da pilha 
    e o resultado dessa ope   O apontador da pilha é um registrador que contém o endereço do topo da pilha. 
    As instruções sem operração é deixado no topo.
{{/section}}

{{#section 'scripts'}}
    <script src="/assets/scripts/pilha.js"></script>
{{/section}}