<section class="page"> 
    <div class="container">

        <div class="etapa etapa-registrador step-1">

            <div class="simulacao">
                <div class="registrador">
                    <div class="instrucao">
                        <p class="texto-instrucao"></p>
                    </div>
                </div>
            </div>

            <div class="texto">
                <p>
                   Semelhante ao endereçamento direto. O campo
de endereço se refere a um registrador
                </p>
            </div>

            {{> botoes}}

        </div>
    <script src="/assets/scripts/js/steps/registrador.js"></script>
    </div>
</section>