.etapa-direto {
    
    .simulacao {
        .memoria {
            margin: auto 5rem auto auto;
    
            .instrucao {
              position: absolute;
              right: calc(100% + 20rem);
              top: calc(2rem * 7);
            }
        }
    }

    &.step-2 {
        .simulacao {
            .memoria {
                .instrucao {
                    position: absolute;
                    right: 0;
                    top: calc(2rem * 7);
                }
            }
        }
    }
}