.etapa-imediato {
    
    .simulacao {
            display: flex;
            align-items: center;
            justify-content: center;

            .instrucao {
              position: relative;
              width: 17rem;
            }
    }

}