.etapa-indireto-registrador {
    
    .simulacao {
        .memoria {
            margin: auto 5rem auto auto;
    
            .instrucao {
              position: absolute;
              right: calc(100% + 20rem);
              top: calc(2rem * 1);
            }
            .registradores {
                right: calc(100% + 4rem);
                top: calc(2rem * 6);
                position: absolute;
                z-index: -1;
            }
        }
    }

    &.step-2 {
        .simulacao {
            .memoria {
                .instrucao {
                    position: absolute;
                    right: calc(100% + 4rem);
                    top: 15rem;
                    z-index: 2;
                }
            }
        }
    }
    &.step-3 {
        .simulacao {
            .memoria {
                .instrucao {
                    position: absolute;
                    right: 0;
                    top: calc(2rem * 3);
                }
            }
        }
    }
}